.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}
.languageChooser {
  text-align: right;
  font-size: 85%;
  margin: 2rem 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backToHome {
  margin: 3rem 0 0;
}
